html, body {
   margin:0;
   padding:0;
}

.col-form-label {
   color: rgb(100, 100, 100); 
}

h1, h2, h3, h4, h5, h6, p {
   font-family: 'Roboto Condensed', sans-serif;
}

.text-green {
   color: #75E897;
}

.text-gray {
   color: #3C3C41;
}

#percentInput {
   width: 90px;
}

input:invalid {
   background-color: ivory;
   border: none;
   outline: 2px solid red;
   border-radius: 5px;
}